#skinChange {
    position: absolute;
    width: 2.7%;
    height: 40%;
    bottom: 30%;
    left: 0.5%;
    border: none;
    background: var(--menuColor);
}

.musicBtn {
    width: 100%;
    height: 10%;
    border: none;
    display: block;
    font: 15px bold;
    background: var(--listColor);
}

#stateControl {
    position: absolute;
    width: 5%;
    height: 100%;
    left: 47.5%;
    border: none;
    font: 15px bold;
    background: var(--controlColor);
}