#skinChange {
    position: absolute;
    width: 2.7%;
    height: 40%;
    bottom: 30%;
    left: 0.5%;
    border: none;
    background: var(--menuColor);
}

#river_flows_in_you-music_btn {
    width: 100%;
    height: 10%;
    border: none;;
    background: var(--listColor);
}