.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 90%;
    display: block;
    background: var(--menuColor);
}

.list {
    position: absolute;
    width: 20%;
    height: 80%;
    bottom: 10%;
    background: var(--listColor);
}

.show {
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: 10%;
    left: 20%;
    background: var(--showColor);
}

.control {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    display: block;
    background: var(--controlColor);
}