:root {
    --colorState: black;
    --backgroundColor: black;
    --menuColor: dimGray;
    --listColor: gray;
    --showColor: darkGray;
    --controlColor: dimGray;
    --testColor1: red;
    --testColor2: green;
    --testColor3: blue;
}

body {
    margin: 0;
    padding: 0;
    background: var(--backgroundColor);
}