:root {
    --colorState: black;
    --backgroundColor: black;
    --menuColor: darkslategrey;
    --testColor1: chartreuse;
    --testColor2: green;
    --testColor3: darkgreen;
}

body {
    margin: 0;
    padding: 0;
    background: var(--backgroundColor);
}